body {
               background-color: #0e9d57;
           }
           .posts-container {
               display: flex;
               justify-content: center;
               align-items: center;
               
           }

           @media screen and (min-device-width: 200px) and (max-device-width: 1000px) { 
            .posts-container {
                display:grid;
            }
        }